*{
    margin: 0;
    padding: 0;
}

.btn{
    background-color: #0E3EDA;
}

/* Navbar */
.nav-link{
    font-weight: 500;
    color: #000;
}
.nav-link:hover{
    color: #0E3EDA !important;
}
.nav-log{
    font-weight: 500;
}

/* Hero Section */
.tentangs{
    margin-top: 150px;
}
.tentang img{
    width: 100%;
}
.tentang h2{
    font-weight: 600;
}

/* Review Section */
.reviews{
    margin: 200px auto;
    text-align: center;
}
.review h4{
    color: #0E3EDA;
    font-weight: 600;
    font-size: 1.8rem;
}
.review p{
    font-size: .9rem;
}

/* Mentors */
.mentors{
    margin-bottom: 200px;
}
.mentor img{
    width: 100%;
}
.mentor h4{
    color: #ED1675;
    font-size: .9rem;
}
.mentor h2{
    font-weight: 600;
}


/* Footer */
.footers{
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footers h4{
    font-size: 1.1rem;
    font-weight: 600;
}
.footers p{
    font-size: .9rem;
}
.footer p{
    color: #a4a4a4;
    width: 15rem;
}
.footer1 a{
    color: #000;
    text-decoration: none;
}
.footer1 a:hover{
    color: #0E3EDA;
}

/* Responsive */
/* Large Desktop */
@media(min-width: 1200px){
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 30px;
    }
    .sign-inup{
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: inline;
    }
    .nav-log:first-child{
        text-align: center;
        margin-right: 20px;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    /* Hero Section */
    .tentang{
        text-align: left;
    }
    .tentang img{
        width: 70%;
    }
    .tentang h2{
        margin-top: 50px;
        padding-bottom: 15px;
    }
    .tentang p{
        margin: unset;
        width: 70%;
    }

    /* Footer */
    .footer1{
        margin-left: 200px;
    }

}

/* Middle Desktop */
@media(min-width: 1025px) and (max-width: 1199px){
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 10px;
    }
    .sign-inup{
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: inline;
    }
    .nav-log:first-child{
        text-align: center;
        margin-right: 20px;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

     

    /* Footer */
    .footers1 {
        margin-top: unset;
        margin-left: 50px;
    }

}

/* Desktop */
@media(min-width: 992px) and (max-width: 1024px){
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 10px;
    }
    .sign-inup{
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: inline;
    }
    .nav-log:first-child{
        text-align: center;
        margin-right: 20px;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    

    /* Footer */
    .footers1 {
        margin-top: unset;
        margin-left: 50px;
    }
}

/* Tablet */
@media(min-width: 768px) and (max-width: 991px){
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link{
        margin-left: none;
    }
    .sign-inup{
        margin-left: none;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: block;
    }
    .nav-log:first-child{
        text-align: center;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    

    /* Footer */
    .footers1 {
        margin-top: 50px;
        margin-left: unset;
    }
    .bawah{
        text-align: center;
    }
}

/* Handphone */
@media(max-widith: 767px){
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link{
        margin-left: none;
    }
    .sign-inup{
        margin-left: none;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: block;
    }
    .nav-log:first-child{
        text-align: center;
    }
    .nav-log:nth-child(2){
        width: 100%;
        padding: auto;
        margin-top: 10px;
    }

    

     /* Footer */
     .footers1 {
        margin-top: 50px;
        margin-left: unset;
    }
    .footer3{
        margin-top: 20px;
    }
    .bawah{
        text-align: center;
    }

}