*{
    margin: 0;
    padding: 0;
}

/* All */
.btn{
    background-color: #0E3EDA;
}

/* Navbar */
.nav-link{
    font-weight: 500;
    color: #000;
}
.nav-link:hover{
    color: #0E3EDA !important;
}
.nav-log{
    font-weight: 500;
}

/* Hero Section */
.heros h1{
    font-weight: 700;
}

/* Categoris Section */
.kategori{
    margin-top: 200px;
}
.kategori h4{
    color: #ED1675;
    font-size: .9rem;
}
.kategori h2{
    font-weight: 600;
}

.kategoris{
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    transition: all .3s ease-out;
}
.kategoris:hover{
    background-color: #ffff;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.1);
}
.kategoris h5{
    font-size: 1.2rem;
}
.kategoris p{
    font-size: .9rem;
    color: #a4a4a4;
}

/* Service Section */
.service h2{
    font-weight: 700;
}
.content{
    margin: 40px 0;
}
.icon{
    background-color: #f3f3f3;
    padding: 8px 10px;
    border-radius: 10px;
    color: #a4a4a4;
    transition: all .3s ease-out;
}
.icon:hover{
    background-color: #ffff;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    color: #000;
}

/* Comments */
.comments{
    margin-top: 200px;
}
.comments h4{
    color: #ED1675;
    font-size: .9rem;
}
.comments h2{
    font-weight: 600;
}
.comment{
    margin-top: 30px;
    padding: 10px;
}
.comment1{
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: all .3s ease-out;
}
.comment1:hover{
    background-color: #ffff;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}
.comment1 p{
    font-size: .9rem;
}
.comment1 p:nth-child(3){
    color: #a4a4a4;
}
.profile h5{
    font-weight: 600;
    font-size: 1.1rem;
}
.profile p{
    color: #a4a4a4;
}

/* Join Section */
.join{
    margin: 200px 0;
    text-align: center;
}
.join h4{
    font-weight: 600;
    width: 18rem;
    margin: auto;
}
.join p{
    width: 18rem;
    margin: auto;
    color: #a4a4a4;
}

/* Footer */
.footers{
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footers h4{
    font-size: 1.1rem;
    font-weight: 600;
}
.footers p{
    font-size: .9rem;
}
.footer p{
    color: #a4a4a4;
    width: 15rem;
}
.footer1 a{
    color: #000;
    text-decoration: none;
}





/* Responsive */
/* Large Desktop */
@media(min-width: 1200px)
{
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 30px;
    }
    .sign-inup{
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: inline;
    }
    .nav-log:first-child{
        text-align: center;
        margin-right: 20px;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    /* Hero Section */
    .heros{
        margin-top: 100px;
        margin-left: 100px;
        text-align: left;
    }
    .heros img{
        width: 80%;
    }
    .heros h1{
        margin-top: 50px;
        font-size: 3.5rem;
    }
    .heros p{
        font-size: 1rem;
        width: 25rem;
        margin: 10px 0;
    }

    /* Categori Section */
    .kategori h2{
        font-size: 1.5rem;
    }
    .kategoris{
        width: 18rem;
        margin: 10px 10px;
    }

    /* Service Section */
    .service{
        margin-top: 200px;
        text-align: left;
    }
    .service img{
        width: 65%;
    }
    .service h2{
        margin: unset;
        width: 80%;
        font-size: 2rem;
    }
    .icon{
        margin: 10px 0;
        width: 22rem;
    }

     /* Comments */
    .comments h2{
        width: 22rem;
        font-size: 1.6rem;
    }
    .comment1{
        width: 23rem;
        margin-top: 15px;
        margin-left: 15px;
        padding: 10px 10px;
    }
    .profile{
        margin-left: -80px;
    }
    
}

/* Middle Desktop */
@media(min-width: 1025px) and (max-width: 1199px)
{
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 10px;
    }
    .sign-inup{
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: inline;
    }
    .nav-log:first-child{
        text-align: center;
        margin-right: 20px;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    /* Hero Section */
    .heros{
        margin-top: 100px;
        margin-left: 100px;
        text-align: left;
    }
    .heros img{
        width: 80%;
    }
    .heros h1{
        margin-top: 50px;
        font-size: 2.3rem;
    }
    .heros p{
        font-size: 1rem;
        width: 20rem;
        margin: 10px 0;
    }

    /* Categori Section */
    .kategori h2{
        font-size: 1.5rem;
    }
    .kategoris{
        width: 18rem;
        margin: 10px 10px;
    }

    /* Service Section */
    .service{
        margin-top: 200px;
        text-align: left;
    }
    .service img{
        width: 70%;
    }
    .service h2{
        margin: unset;
        width: 90%;
        font-size: 1.7rem;
    }
    .icon{
        margin: 10px 0;
        width: 20rem;
    }

    /* Comments */
    .comments h2{
        width: 22rem;
        font-size: 1.6rem;
    }
    .comment1{
        width: 23rem;
        margin-top: 15px;
        margin-left: 15px;
        padding: 10px 10px;
    }
    .profile{
        margin-left: -80px;
    }

    /* Footer */
    .footers1 {
        margin-top: unset;
        margin-left: 50px;
    }
}

/* Desktop */
@media(min-width: 992px) and (max-width: 1024px)
{
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 10px;
    }
    .sign-inup{
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: inline;
    }
    .nav-log:first-child{
        text-align: center;
        margin-right: 20px;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    /* Hero Section */
    .heros{
        margin-top: 100px;
        margin-left: 100px;
        text-align: left;
    }
    .heros img{
        width: 75%;
    }
    .heros h1{
        margin-top: 50px;
        font-size: 2.3rem;
    }
    .heros p{
        font-size: 1rem;
        width: 20rem;
        margin: 10px 0;
    }

    /* Categori Section */
    .kategori h2{
        font-size: 1.6rem;
    }
    .kategoris{
        width: 18rem;
        margin: 10px 10px;
    }

    /* Service Section */
    .service{
        margin-top: 200px;
        text-align: left;
    }
    .service img{
        width: 60%;
    }
    .service h2{
        margin: unset;
        width: 90%;
        font-size: 1.7rem;
    }
    .icon{
        margin: 10px 0;
        width: 20rem;
    }

     /* Comments */
     .comments h2{
        width: 22rem;
        font-size: 1.6rem;
    }
    .comment1{
        width: 23rem;
        margin-top: 15px;
        margin-left: 15px;
        padding: 10px 10px;
    }
    .profile{
        margin-left: -80px;
    }

    /* Footer */
    .footers1 {
        margin-top: unset;
        margin-left: 50px;
    }
}

/* Tablet */
@media(min-width: 768px) and (max-width: 991px)
{
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link{
        margin-left: none;
    }
    .sign-inup{
        margin-left: none;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: block;
    }
    .nav-log:first-child{
        text-align: center;
    }
    .nav-log:nth-child(2){
        padding: auto;
        margin: 10px auto;
    }

    /* Hero Section */
    .heros{
        margin-top: 50px;
        margin-left: unset;
        text-align: center;
    }
    .heros img{
        width: 60%;
    }
    .heros h1{
        margin-top: 50px;
        font-size: 2.3rem;
    }
    .heros p{
        font-size: 1rem;
        width: 25rem;
        margin: 10px auto;
    }

    /* Categori Section */
    .kategori h2{
        font-size: 1.5rem;
    }
    .kategoris{
        width: 18rem;
        margin: 10px 10px;
    }

    /* Service Section */
    .service{
        margin-top: 200px;
        text-align: center;
    }
    .service img{
        width: 60%;
    }
    .service h2{
        margin: 50px auto;
        width: 70%;
        font-size: 1.6rem;
    }
    .icon{
        margin: 10px auto;
        width: 22rem;
    }

    /* Comments */
    .comments h2{
        width: 20rem;
        font-size: 1.6rem;
    }
    .comment1{
        width: 23rem;
        margin-top: 15px;
        margin-left: unset;
        padding: 10px 10px;
    }
    .profile{
        margin-left: -80px;
    }
    
    /* Footer */
    .footers1 {
        margin-top: 50px;
        margin-left: unset;
    }
    .bawah{
        text-align: center;
    }
}

/* Handphone */
@media(max-width: 767px)
{
    /* Navbar */
    .navbar{
        margin: auto 10px;
    }
    .navbar-brand img{
        width: 2rem;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link{
        margin-left: none;
    }
    .sign-inup{
        margin-left: none;
        margin-top: 10px;
        text-align: center;
    }
    .nav-log{
        display: block;
    }
    .nav-log:first-child{
        text-align: center;
    }
    .nav-log:nth-child(2){
        width: 100%;
        padding: auto;
        margin-top: 10px;
    }

    /* Hero Section */
    .heros{
        margin-top: 50px;
        margin-left: unset;
        text-align: center;
    }
    .heros img{
        width: 100%;
    }
    .heros h1{
        margin-top: 50px;
        font-size: 2.3rem;
    }
    .heros p{
        font-size: 1rem;
        width: 20rem;
        margin: 10px auto;
    }

    /* Categoris Section */
    .kategori h2{
        font-size: 1.5rem;
    }
    .kategoris{
        width: 15rem;
        margin: 10px auto;
    }

    /* Service Section */
    .service{
        margin-top: 200px;
        text-align: center;
    }
    .service img{
        width: 22rem;
    }
    .service h2{
        margin: 50px auto;
        width: 90%;
        font-size: 1.5rem;
    }
    .icon{
        margin: 10px auto;
        width: 22rem;
    }

    /* Comments */
    .comments h2{
        width: 20rem;
        font-size: 1.5rem;
    }
    .comment1{
        width: 23rem;
        margin-top: 15px;
        margin-left: unset;
        padding: 10px 10px;
    }
    .profile{
        margin-left: -80px;
    }

    /* Footer */
    .footers1 {
        margin-top: 50px;
        margin-left: unset;
    }
    .footer3{
        margin-top: 20px;
    }
    .bawah{
        text-align: center;
    }
}